
nav {
    

}


ul, li {
    
    color: aliceblue;
}

.testDiv {
   height: 100vh; 
    
    /** background-image: linear-gradient( rgba(14, 43, 99, 0.75), rgba(14, 43, 99, 0.75));    
 background-image: url("images/bglogin.jpg"); **/
 background:linear-gradient(0deg, rgba(14, 43, 99, 0.70), rgba(14, 43, 99, 0.70)), url("../../images/laptopbg2.jpg");
 
         
 /** background-image: linear-gradient(to right, #0e2b63 ,#103070, #103070, #5a328a); 
    background-color: #17a2b8;   **/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  margin: 0;
}




/**
Nav Component

**/

.navDiv{
    background: darkblue;
}

.navDiv h2{
    color: aliceblue;
}


/**

New Entry
**/


/**

SafetyPMD
**/
.card {
    padding: 8px 16px;
}

.input-group{
    margin: 12px 0px 0px 0px;
}

.col1{
    margin-left: 16px;
}

.spancounter {
    color: #ff0000;
}


@media only screen and (max-width: 767px) {
    /* phones */

 
.col1{
    margin: 0px 0 0 0px;
    
}
    
    .PmdForm{
        margin-left: 10px;
    }
    
    .guidePic{
        padding: 16px 0;
    }
 
}


@media only screen and (min-width: 992px){ }
